aiofiles
aiohttp 
asyncio 
dnspython
ffmpeg-python
gitpython
hachoir
heroku3
apscheduler
motor 
pillow
py-tgcalls 
ntgcalls
pykeyboard
kurigram
python-dotenv
pyyaml==6.0.1
requests
speedtest-cli
spotipy
tgcrypto
unidecode
yt-dlp
youtube-search
youtube-search-python
httpx
opencv-python
beautifulsoup4
py-yt-search
psutil
pyrogram
pyrogram
aiofiles
aiohttp
apscheduler
asyncio
beautifulsoup4
dnspython
ffmpeg-python
gitpython
hachoir
heroku3
httpx
kurigram
motor
ntgcalls
opencv-python
pillow
psutil
py-tgcalls
py-yt-search
pykeyboard
pyrogram
python-dotenv
pyyaml==6.0.1
requests
speedtest-cli
spotipy
tgcrypto
unidecode
youtube-search
youtube-search-python
yt-dlp
